/** css rules start **/
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
#Teachers .container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    gap: 10px;
}
/** css rules end **/

/** Teachers start **/
#Teachers {
    --main-color: #FDFBF9;
    --tints-1: #FFFFFF;
    --shades-1: #F4F1EB;
    --secondary-color: #F4F1EB;
    --third-color: #000000;
    --fourth-color: #1C3533;
    margin: 0;
    padding: 0;
    direction: ltr;
    font-family: "Cairo", sans-serif;
    background-color: var(--main-color);
}
#Teachers .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 99px 50px 81px 50px;
}
#Teachers .TeachersHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#Teachers .Teachers {
    border: 1.5px solid var(--third-color);
    border-radius: 30px;
}
#Teachers .Teachers .TeachersHeaderText {
    padding: 7.5px  28px;
    margin: 0;
}
#Teachers .TeachersTitle .TeachersTitle{
    font-size: 46px;
    font-weight: 600;
    text-align: center;
    padding-top: 21px;
    margin: 0;
    line-height: 120%;
    padding-bottom: 44px;
}
#Teachers .TeachersGrid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, auto); 
     justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 50px 0px 50px;
}
#Teachers .TeacherImageContainer img{
    display: flex;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    object-fit: cover;   
    justify-self: center;  
    max-width: 100%;   
    box-sizing: border-box;
}
#Teachers .TeacherDescriptionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--shades-1);
    border-radius: 15px;
    height: -webkit-fill-available;
}
#Teachers .TeacherDescriptionContainer h4{
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    margin: 0;
}

@media only screen and (max-width: 1024px) {
    #Teachers .TeachersGrid {
        grid-template-columns: 1fr;
        margin: 0 auto;
        padding: 0;
    }
    #Teachers .TeacherDescriptionContainer {
        padding: 131px 34px 131px 34px;
    }
    #Teachers .TeacherImageContainer img  {
        height: 378px;
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    #Teachers .TeacherDescriptionContainer {
        padding: 131px 34px 131px 34px;
    }
}
@media only screen and (max-width: 375px) {
    #Teachers .TeacherDescriptionContainer {
        padding: 99px 12px 59px 12px;
    }
}
/** Teachers end **/