
@media screen and (max-width: 375px) {
  /* phone */
}

.h5-teachersheadertext {
  position: relative;
  line-height: 100%;
  font-weight: 600;
}
.div-teachers {
  width: 116px;
  border-radius: 31px;
  border: 1.5px solid #000;
  box-sizing: border-box;
  height: 29px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7px 23px;
}
.h2-teacherstitle {
  position: relative;
  line-height: 120%;
  font-weight: 600;
}
.div-teacherstitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: right;
  font-size: 46px;
}
.div-teachersheader {
  width: 369px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 21px;
}
.div-teacherimagecontainer-icon {
  width: 351px;
  height: 350px;
  object-fit: cover;
}
.p-teacherdescription {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.div-teacherdescriptioncontain {
  width: 351px;
  border-radius: 15px;
  background-color: #f4f1eb;
  height: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 131px 34px;
  box-sizing: border-box;
}
.div-teacherimagecontainer {
  width: 351px;
  border-radius: 15px;
  background-color: #f4f1eb;
  height: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 131px 38px;
  box-sizing: border-box;
}
.div-teachersgrid {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 25px;
  font-size: 22px;
}
.div-wrapper {
  position: absolute;
  top: 99px;
  left: 12px;
  width: 351px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 44px;
}
.div-container {
  width: 375px;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  left: 0px;
  height: 2532px;
  z-index: 0;
}
.section-teachers-teachers {
  width: 100%;
  position: relative;
  background-color: #fdfbf9;
  height: 2532px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 12px 60px;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  color: #000;
  font-family: Cairo;
}
